<%= form_for(resource,
  as: resource_name,
  url: password_path(resource_name),
  html: {
    method: :post,
    class: 'form-auth'
  }) do |f| %>
  <%= devise_error_messages! %>

  <h2>Forgot your password?</h2>

  <%= f.label :email, class: 'sr-only' %><br />
  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address' %>

  <%= f.submit "Send me reset password email", class: 'btn btn-primary' %>

  <%= render "devise/shared/links" %>
<% end %>
