<%= form_for(resource,
  as: resource_name,
  url: session_path(resource_name),
  html: {
    class: 'form-auth'
  }) do |f| %>
  <%= devise_error_messages! %>

  <h2 class="form-auth-heading">Please sign in</h2>
  <%= f.label :email, class: 'sr-only' %>
  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address' %>

  <%= f.label :password, class: 'sr-only'%>
  <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>

  <div class="checkbox">
    <label>
      <%= f.check_box :remember_me %> Remember me
    </label>
  </div>

  <%= f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block' %>

  <%= render 'devise/shared/links' %>
<% end %>
