<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a href="<%= root_path %>" class="navbar-brand">
      <%= image_tag "logo.png" %>
    </a>

    <% if email_identity_signed_in? %>
      <%= link_to '', destroy_session_path(:email_identity), method: :delete,
        class: 'pull-right log-out glyphicons glyphicons-log-out' %>
    <% elsif facebook_identity_signed_in? %>
      <%= link_to '', facebook_logout_path, method: :delete,
        class: 'pull-right log-out glyphicons glyphicons-log-out' %>
    <% elsif twitter_identity_signed_in? %>
      <%= link_to '', twitter_logout_path, method: :delete,
        class: 'pull-right log-out glyphicons glyphicons-log-out' %>
    <% elsif google_identity_signed_in? %>
      <%= link_to '', google_logout_path, method: :delete,
        class: 'pull-right log-out glyphicons glyphicons-log-out' %>
    <% elsif controller_name == 'home' %>
      <div class="dropdown pull-right">
        <a class="glyphicons pull-right glyphicons-option-vertical dropdown-toggle" data-toggle="dropdown"></a>

        <ul class="dropdown-menu">
          <li><%= link_to 'Log in', new_email_identity_session_path %></li>
          <li><%= link_to 'Sign up', new_registration_path(:email_identity) %></li>
        </ul>
      </div>
    <% end %>

    <% if controller_name == 'home' %>
      <form class="navbar-form navbar-right map-search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Where you at?">
          <i class="glyphicons glyphicons-search"></i>
        </div>
      </form>
    <% end %>

  </div>
</div>
