<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/facebook_sdk' %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>

  <%= render 'layouts/google_analytics' %>
  <%= javascript_include_tag "application" %>
</html>
