<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>

      <footer>
        <p><%= knowmad_copyright_footer_text %></p>
      </footer>
    </div>
  </body>

  <%= render 'layouts/google_analytics' %>
  <%= javascript_include_tag "application" %>
</html>
