<div class="container">
  <%= bootstrap_flash %>

  <%= form_for(:account,
    html: {
      class: 'form-auth'
    }) do |f| %>
    <h2 class="form-auth-heading">Choose a subdomain</h2>

    <%= f.label :subdomain, class: 'sr-only' %>
    <%= f.text_field :subdomain, autofocus: true, class: 'form-control', placeholder: 'Subdomain' %>

    <%= f.submit 'Save', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>
